{% if show_list_price and list_price %}
  {% if label_list_price %}
    {{ 'List price'|trans }}
  {% endif %}
  {{ list_price }}
{% endif %}

{% if show_price_without_vat %}
  {% if label_without_vat %}
    {{ 'Price without VAT'|trans }}
  {% endif %}
  {{ price_without_vat }}
{% endif %}

{% if show_price_vat_only %}
  {% if label_vat_only %}
    {{ 'VAT'|trans }}
  {% endif %}

  {{ price_vat_only }}
{% endif %}

{% if show_price_with_vat %}
  {% if label_with_vat %}
    {{ 'Price with VAT'|trans }}
  {% endif %}
  {{ price_with_vat }}
{% endif %}
