<div>
  {% if show_list_price and list_price %}
    {% if label_list_price %}
      <div class='label-list-price'>{{ 'List price'|trans }}</div>
    {% endif %}
    <div class='list-price'>{{ list_price }}</div>
  {% endif %}

  {% if show_price_without_vat %}
    {% if label_without_vat %}
      <div class='label-without-vat'>{{ 'Price without VAT'|trans }}</div>
    {% endif %}
    <div class='price-without-vat'>{{ price_without_vat }}</div>
  {% endif %}

  {% if show_price_vat_only %}
    {% if label_vat_only %}
      <div class='label-vat-only'>{{ 'VAT'|trans }}</div>
    {% endif %}

    <div class='price-vat-only'>{{ price_vat_only }}</div>
  {% endif %}

  {% if show_price_with_vat %}
    {% if label_with_vat %}
      <div class='label-with-vat'>{{ 'Price with VAT'|trans }}</div>
    {% endif %}
    <div class='price-with-vat'>{{ price_with_vat }}</div>
  {% endif %}

</div>
