.order-total-line {
  padding: 0 1em;
  text-align: right;
}
.order-total-line__total {
  padding-top: 0.3em;
  font-weight: bold;
}
.order-total-line-label {
  display: inline-block;
}
.order-total-line-value {
  display: inline-block;
  width: 7em;
  text-align: right;
}
