{#
/**
 * @file
 * Default order total summary template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - totals: An array of order totals values with the following keys:
 *   - subtotal: The order subtotal price.
 *   - adjustments: The adjustments:
 *     - type: The adjustment type.
 *     - label: The adjustment label.
 *     - amount: The adjustment amount.
 *     - percentage: The decimal adjustment percentage, when available. For example, "0.2" for a 20% adjustment.
 *   - total: The order total price.
 *
 * @ingroup themeable
 */
#}
{{ attach_library('order_total_summary_fix/total_summary') }}
<div{{ attributes }}>

  {% for adjustment in totals.adjustments_non_tax %}
    <div class="order-total-line order-total-line__adjustment">
      <span class="order-total-line-label">{{ adjustment.label|t }} </span><span class="order-total-line-value">{{ adjustment.amount|commerce_price_format }}</span>
    </div>
  {% endfor %}

  {% if totals.is_tax_calculated %}
    {% if totals.adjustments_tax %}
      <div class="order-total-line order-total-line__price_without_vat">
        <span class="order-total-line-label">{{ 'Price without VAT'|t }} </span><span class="order-total-line-value">{{ totals.totalnovat|commerce_price_format }}</span>
      </div>
    {% endif %}

    {% for percentage, amount in totals.taxes_per_percentage %}
      <div class="order-total-line order-total-line__price_vat">
        <span class="order-total-line-label">{{ 'VAT'|t }} {{ percentage }}% </span><span class="order-total-line-value">{{ amount|commerce_price_format }}</span>
      </div>
    {% endfor %}

    {% if totals.taxes_per_percentage|length > 1 and totals.vat_price %}
      <div class="order-total-line order-total-line__price_vat">
        <span class="order-total-line-label">{{ 'Total VAT'|t }} </span><span class="order-total-line-value">{{ totals.vat_price|commerce_price_format }}</span>
      </div>
    {% endif %}

  {% endif %}

  <div class="order-total-line order-total-line__total">
    <span class="order-total-line-label">{{ 'Total'|t }} </span><span class="order-total-line-value">{{ totals.total|commerce_price_format }}</span>
  </div>

</div>
