{#
/**
 * @file
 * Ez kerül bele a rendelés visszaigazoló commerce_emailbe
 * a [commerce_order:receipt_adjustments] token által.
 * A token itt van definiálva:
 * egm_webshop_fix/modules/custom_tokens/custom_tokens.module
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - totals: An array of order totals values with the following keys:
 *   - subtotal: The order subtotal price.
 *   - adjustments: The adjustments:
 *     - type: The adjustment type.
 *     - label: The adjustment label.
 *     - amount: The adjustment amount.
 *     - percentage: The decimal adjustment percentage, when available. For example, "0.2" for a 20% adjustment.
 *   - total: The order total price.
 *
 * @ingroup themeable
 */
#}
  {% for adjustment in totals.adjustments_non_tax %}
    <tr>
      <td>
        <p style="margin-bottom: 0;">
          {{ adjustment.label|t }}: {{ adjustment.amount|commerce_price_format }}
       </p>
      </td>
    </tr>
  {% endfor %}

  {% if totals.is_tax_calculated %}
    {% if totals.adjustments_tax %}
    <tr>
      <td>
        <p style="margin-bottom: 0;">
          {{ 'Price without VAT'|t }}: {{ totals.totalnovat|commerce_price_format }}
        </p>
      </td>
    </tr>
    {% endif %}

    {% for percentage, amount in totals.taxes_per_percentage %}
    <tr>
      <td>
        <p style="margin-bottom: 0;">
          {{ 'VAT'|t }} {{ percentage }}%: {{ amount|commerce_price_format }}
        </p>
      </td>
    </tr>
    {% endfor %}

    {% if totals.taxes_per_percentage|length > 1 and totals.vat_price %}
    <tr>
      <td>
        <p style="margin-bottom: 0;">
          {{ 'Total VAT'|t }}: {{ totals.vat_price|commerce_price_format }}
        </p>
      </td>
    </tr>
    {% endif %}

  {% endif %}

{# Az order totalt külön tokennel tesszük az e-mailbe, hogy könnyebb legyen az alap e-mailt formázni #}